{% extends 'home.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="loginpage limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-40 p-r-40 p-t-40 p-b-20">
{% if user.is_authenticated %}

            <h3><span>Hi {{ user.username }}</h3>
            <span style="font-size: x-large">You are already logged in</span>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <span>
                        <a role="button" class="btn btn-danger" href="{% url 'logout' %}">Log out</a>
                    </span>
                </div>
            </div>


{% else %}


            <div class="header-area">
                <div class="logo-image">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo-100.png' %}" alt="Celec Image">
                </a>
            </div>
            </div>
            <form class="login100-form validate-form flex-sb flex-w p-t-80" method="post">
                {% csrf_token %}
                

                    <span class="login100-form-title p-t-10 p-b-10">
                        Login
                    </span>

                    <!-- <span class="txt1 p-b-11">
                        Username
                    </span> -->
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Username is required">
                        <input class="input100" type="text" name="username" placeholder="email / username">
                        <span class="focus-input100"></span>
                    </div>

                    <!-- <span class="txt1 p-b-11">
                        Password
                    </span> -->
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        <input class="input100" type="password" name="password" placeholder="password">
                        <span class="focus-input100"></span>
                    </div>
                    {% if form.errors %}
                    <div class="wrap-login100 p-t-5">
                        <span class="error-text text-center">Please enter a correct username and password</span>
                    </div>
                        {% endif %}
                    <div class="flex-sb-m w-full p-t-5 p-b-11">
                       <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" checked>
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                        <div>
                        <a href="{% url 'password_reset' %}" class="txt3">
                            Forgot Password?
                        </a>
                    </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                    </div>


            </form>
            <!-- <div class="container p-t-25">
                <span style="text-align: center;">
                    <a href="">Signup</a>
                </span>
    </div> -->
    {% comment %} <hr> {% endcomment %}

    <div class="horizen-line"></div>
    <span class="txt-account p-b-5 p-t-5 m-a">
        Don't have an account?
    </span>
    <div class="container-login100-form-btn">
        <a class="login100-form-btn register-form-btn" type="button" href="{% url 'signup' %}">
            Register Now
        </a>
    </div>



{% endif %}
        </div>

    </div>

</div>
{% endblock content %}