<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<div class="loginpage limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
        <span class="txt1 p-b-11 m-a m-b-11"><h1>Password reset complete</h1></span>
            <span class="txt1 p-b-11 m-a m-b-11"><p>Your new password has been set. You can log in now on the 
                <div class="container-login100-form-btn">
                <a class="login100-form-btn register-form-btn" href="{% url 'login' %}">log in page</a>.
            </div>
            </p></span>


            </div>
        </div>
        </div>
{% endblock %}