<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}

<div class="loginpage limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
      <span class="txt1 p-b-11 m-a" style="text-align: center;"><h4>Check your inbox.</h4></span>
      <span class="txt1 p-b-11 m-a m-b-11"><p>We've emailed you instructions for setting your password. You should receive the email shortly!</p></span>
      <div class="container-login100-form-btn">
        <a class="login100-form-btn register-form-btn" href="{% url 'home' %}">back to home page</a>.
    </div>
</div>
</div>
</div>
{% endblock %}