{% extends 'home.html' %}
{% load static %}
{% block content %}
{% include "base/navbar.html" %}
    <!-- ##### MAIN PANEL ##### -->
    <div class="kt-mainpanel">
      <div class="kt-pagetitle">
          <div class="col-lg-3">
          <h5>Comparision Dashboard</h5>
          </div>
          <div class="col-lg-2">
          <h5>Device</h5>
          </div>
              <div class="col-lg-2">
                <div class="form-group mg-b-10-force">
                  <select class="form-control select2" data-placeholder="Select Device">
                    <option label="Choose country"></option>
                    <option value="USA">Device 1</option>
                    <option value="UK">Device 2</option>
                    <option value="China">Device 3</option>
                    <option value="Japan">Device 4</option>
                  </select>
                </div>
              </div><!-- col-4 -->
      </div><!-- kt-pagetitle -->

      <div class="kt-pagebody">

        <div class="row row-sm">
          <div class="col-lg-12">
            <div class="row row-sm">
              <div class="col-lg-6">
                <div class="card">

                  <div class="card-body pd-b-0">
                                  
                    <img src="{% static 'magen/img/senc.svg' %}" width="60" class="card-icon"/>
                    
                    
                    <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">sensors</h6>
                    
                    <h2 class="tx-roboto tx-inverse">1,297 <small>Sensors</small></h2>
                    <p class="tx-12"><span class="tx-success">2.5%</span> stability from yesterday</p>
                  </div>
                  
                  <!-- card-body -->
                  {% comment %} <div id="rs1" class="ht-50 ht-sm-70 mg-r--1"></div> {% endcomment %}
                  <div class="btn btn-secondary btn-icon" id="cdaily-line-bar-randomizeData"><i class="fas fa-sync-alt"></i></i></div>
                  <div>
                    <canvas  id="cdaily-line-bar-canvas"></canvas>
                  </div>
                  
                  {% comment %} <button id="line-bar-addData">Add Data</button> {% endcomment %}
                </div><!-- card -->
              </div><!-- col-6 -->
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body pd-b-0">
                    <img src="{% static 'magen/img/energy.svg' %}" width="60" class="card-icon"/>
                    <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">energy</h6>
                    <h2 class="tx-roboto tx-inverse">500 <small>Watt</small></h2>
                    <p class="tx-12"><span class="tx-success">2.5%</span> change from yesterday</p>
                  </div><!-- card-body -->
                  {% comment %} <div id="rs2" class="ht-50 ht-sm-70 mg-r--1"></div> {% endcomment %}
                  <div class="btn btn-secondary btn-icon" id="cweekly-line-bar-canvas-randomizeData"><i class="fas fa-sync-alt"></i></i></div>
                  <div>
                    <canvas  id="cweekly-line-bar-canvas"></canvas>
                  </div>
                </div><!-- card -->
              </div><!-- col-6 -->
            </div><!-- row -->

 <div class="row row-sm">
              <div class="col-lg-6">
                <div class="card mg-t-20">
                  <div class="card-body pd-b-0 ">
                            <img src="{% static 'magen/img/senc.svg' %}" width="60" class="card-icon"/>
                    <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Devices Connection</h6>
                    <h2 class="tx-lato tx-inverse">100 <small>%</small></h2>
                    <p class="tx-12"><span class="tx-success">2.5%</span> change from yesterday</p>
                  </div><!-- card-body -->
                  {% comment %} <div id="rs3" class="ht-50 ht-sm-70 mg-r--1"></div> {% endcomment %}
                                    <div class="btn btn-secondary btn-icon" id="cmonthly-line-bar-canvas-randomizeData"><i class="fas fa-sync-alt"></i></i></div>
                  <div>
                    <canvas  id="cmonthly-line-bar-canvas"></canvas>
                  </div>
                </div><!-- card -->
              </div><!-- col-6 -->
              <div class="col-lg-6 mg-t-20">
                <div class="card">
                  <div class="card-body pd-b-0">
                    <img src="{% static 'magen/img/rain.svg' %}" width="60" class="card-icon"/>
                    <h6 class="card-body-title tx-12 tx-spacing-2 mg-b-20">Rains</h6>
                    <h2 class="tx-roboto tx-inverse">5,298 <small>Litter</small></h2>
                    <p class="tx-12"><span class="tx-success">2.5%</span> change from yesterday</p>
                  </div><!-- card-body -->
                  {% comment %} <div id="rs4" class="ht-50 ht-sm-70 mg-r--1"></div> {% endcomment %}
                  <div class="btn btn-secondary btn-icon" id="cyearly-line-bar-canvas-randomizeData"><i class="fas fa-sync-alt"></i></i></div>
                  <div>
                    <canvas  id="cyearly-line-bar-canvas"></canvas>
                  </div>
                </div><!-- card -->
              </div><!-- col-6 -->
            </div><!-- row -->

            <!-- card -->

            <div class="row row-sm mg-t-20">
              <div class="col-lg-6">
                <div class="card pd-20">
                  <h6 class="tx-12 tx-uppercase tx-info tx-bold mg-b-15">Sales Report</h6>
                  <div class="d-flex mg-b-10">
                    <div class="bd-r pd-r-10">
                      <label class="tx-12">Today</label>
                      <p class="tx-lato tx-inverse tx-bold">1,898</p>
                    </div>
                    <div class="bd-r pd-x-10">
                      <label class="tx-12">This Week</label>
                      <p class="tx-lato tx-inverse tx-bold">32,112</p>
                    </div>
                    <div class="pd-l-10">
                      <label class="tx-12">This Month</label>
                      <p class="tx-lato tx-inverse tx-bold">72,067</p>
                    </div>
                  </div><!-- d-flex -->
                  <div class="progress mg-b-10">
                    <div class="progress-bar bg-info wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                  </div>
                  <p class="tx-12 mg-b-0">Maecenas tempus, tellus eget condimentum rhoncus</p>
                </div><!-- card -->
              </div><!-- col-6 -->
              <div class="col-lg-6 mg-t-20 mg-lg-t-0">
                <div class="card pd-20">
                  <h6 class="tx-12 tx-uppercase tx-danger tx-bold mg-b-15">Sales Report</h6>
                  <div class="d-flex mg-b-10">
                    <div class="bd-r pd-r-10">
                      <label class="tx-12">Today</label>
                      <p class="tx-roboto tx-inverse tx-bold">1,898</p>
                    </div>
                    <div class="bd-r pd-x-10">
                      <label class="tx-12">This Week</label>
                      <p class="tx-roboto tx-inverse tx-bold">32,112</p>
                    </div>
                    <div class="pd-l-10">
                      <label class="tx-12">This Month</label>
                      <p class="tx-roboto tx-inverse tx-bold">72,067</p>
                    </div>
                  </div><!-- d-flex -->
                  <div class="progress mg-b-10">
                    <div class="progress-bar bg-danger wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                  </div>
                  <p class="tx-12 mg-b-0">Maecenas tempus, tellus eget condimentum rhoncus</p>
                </div><!-- card -->
              </div><!-- col-6 -->
            </div><!-- row -->

          </div><!-- col-sm -->

        </div><!-- row -->
      </div><!-- kt-pagebody -->
      
      <div class="kt-footer">
        <span>Copyright &copy;. All Rights Reserved. Magen IOT admin Dashboard.</span>
        <span>Created by: vueghost.</span>
      </div><!-- kt-footer -->
    </div><!-- kt-mainpanel -->

     {% endblock content %}