{% extends "base.html" %} {% load static %} 
{% block title %}Realtime Chart {% endblock title %}
 {% block content %}

<style>

@media (min-width: 1200px) { 

  canvas{
  max-height: 300px !important;
  max-width: 600px !important;

}
 }


.canvasclass {
  display:flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top:10px;
}

.colrct, .capclass {
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(65, 132, 234, 0.6);
}
.colrct{
  padding:5px 5px 5px 30px;
}
.capclass{
  padding:5px 5px 5px 56px;
}
.colrct span,  .capclass span {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    margin-left: 8px;

}
.colrct i, .capclass i {
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top:20px;
    font-size:40px;
}

</style>



<div class="container-fluid">
  <div class="row canvasclass">
    <div class="col-lg-2 "></div>
    <div class="col-lg-2 colrct">
      <span>clo1</span>
      <i class="fas fa-circle fa-3x" id="clo1-icon"></i>
      <span>rct1</span>
      <i class="fas fa-circle fa-3x" id="rct1-icon"></i>
      <span>clo2</span>
      <i class="fas fa-circle fa-3x" id="clo2-icon"></i>
      <span>rct2</span>
      <i class="fas fa-circle fa-3x" id="rct2-icon"></i>
      <span>clo3</span>
      <i class="fas fa-circle fa-3x" id="clo3-icon"></i>
      <span>rct3</span>
      <i class="fas fa-circle fa-3x" id="rct3-icon"></i>
    </div>

    <div class="col-lg-1 "></div>

    <div class="col-lg-4 capclass">

      <span>cap1</span>
      <i class="fas fa-circle fa-3x" id="cap1-icon"></i>
    
      <span>cap2</span>
      <i class="fas fa-circle fa-3x" id="cap2-icon"></i>
    
      <span>cap3</span>
      <i class="fas fa-circle fa-3x" id="cap3-icon"></i>
    
      <span>cap4</span>
      <i class="fas fa-circle fa-3x" id="cap4-icon"></i>
    
      <span>cap5</span>
      <i class="fas fa-circle fa-3x" id="cap5-icon"></i>
      <span>cap6</span>
      <i class="fas fa-circle fa-3x" id="cap6-icon"></i>
      <span>cap7</span>
      <i class="fas fa-circle fa-3x" id="cap7-icon"></i>
    
      <span>cap8</span>
      <i class="fas fa-circle fa-3x" id="cap8-icon"></i>
    
      <span>ca9</span>
      <i class="fas fa-circle fa-3x" id="cap9-icon"></i>
    
      <span>ca10</span>
      <i class="fas fa-circle fa-3x" id="ca10-icon"></i>
    
      <span>cap11</span>
      <i class="fas fa-circle fa-3x" id="cap11-icon"></i>
    
      <span>cap12</span>
      <i class="fas fa-circle fa-3x" id="cap12-icon"></i>
    </div>
    
    <div class="col-lg-2 "></div>
  </div>
</div>





<div class="container-fluid">
<div class="row">
  <div class="col-lg-2">
    <canvas id="volt1-line-bar-canvas" height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="amp1-line-bar-canvas" height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="kw1-line-bar-canvas" height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="pf1-line-bar-canvas" height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="kvar1-line-bar-canvas" height="300px"></canvas>
  </div>

  <div class="col-lg-2">
    <canvas id="kva1-line-bar-canvas" height="300px"></canvas>
  </div>

</div>

<div class="row">
  <div class="col-lg-2">
    <canvas id="volt2-line-bar-canvas"  height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="amp2-line-bar-canvas" height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="kw2-line-bar-canvas" height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="pf2-line-bar-canvas" height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="kvar2-line-bar-canvas" height="300px"></canvas>
  </div>

  <div class="col-lg-2">
    <canvas id="kva2-line-bar-canvas" height="300px"></canvas>
  </div>

</div>



<div class="row">
  <div class="col-lg-2">
    <canvas id="volt3-line-bar-canvas" height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="amp3-line-bar-canvas" height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="kw3-line-bar-canvas" height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="pf3-line-bar-canvas" height="300px"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="kvar3-line-bar-canvas" height="300px"></canvas>
  </div>

  <div class="col-lg-2">
    <canvas id="kva3-line-bar-canvas" height="300px"></canvas>
  </div>

  </div>

  </div>

</div>





{% endblock content %}
