{% extends "base.html" %} {% load static %} 
{% block title %}Realtime Chart {% endblock title %}
 {% block content %}

<script>

</script>


<div class="row">
  <div class="col-lg-2">
    <canvas id="volt1-line-bar-canvas" height="400%"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="amp1-line-bar-canvas" height="400%"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="kw1-line-bar-canvas" height="400%"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="pf1-line-bar-canvas" height="400%"></canvas>
  </div>

  <div class="col-lg-2">
    <canvas id="kvar1-line-bar-canvas" height="400%"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="volt2-line-bar-canvas" height="400%"></canvas>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <canvas id="amp2-line-bar-canvas" height="400%"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="kw2-line-bar-canvas" height="400%"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="pf2-line-bar-canvas" height="400%"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="kvar2-line-bar-canvas" height="400%"></canvas>
  </div>

  <div class="col-lg-2">
    <canvas id="kva2-line-bar-canvas" height="400%"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="volt3-line-bar-canvas" height="400%"></canvas>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <canvas id="amp3-line-bar-canvas" height="400%"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="kw3-line-bar-canvas" height="400%"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="pf3-line-bar-canvas" height="400%"></canvas>
  </div>
  <div class="col-lg-2">
    <canvas id="kvar3-line-bar-canvas" height="400%"></canvas>
  </div>

  <div class="col-lg-2">
    <canvas id="kva3-line-bar-canvas" height="400%"></canvas>
  </div>

</div>

{% endblock content %}
