{% extends 'home.html' %}
 {% load static %}
 {% block title %}Terms & Conditions{% endblock %}
 {% block content %}
<div class="fusion-text">
  <p>
    All information, products and services displayed on the
    www.celec.com&nbsp;website constitute an “invitation to offer”. Your order
    for purchase constitutes your “offer” which shall be subject to the terms
    and conditions as listed below. www.celec.shop&nbsp;website has the right to
    accept or reject your offer without assigning any reason thereof.
  </p>
  <p>
    In order to use the www.celec.com&nbsp;website belonging to Celec
    Enterprises, you (The User) have accepted the following terms and conditions
    given below. reserves the right to add, delete, alter or modify these terms
    and conditions at any time.
  </p>
  <p>
    You (The User) are therefore advised to read carefully these terms and
    conditions every time you use the www.celec.com&nbsp;website of&nbsp;Celec
    Enterprises
  </p>
  <p>
    1. We have made every effort to display the color of our products that
    appear on the site as accurately as possible. However, as the actual colors
    you see will depend on your monitor, we cannot guarantee that your monitor’s
    display of color will be accurate.
  </p>
  <p>
    2. The User certifies that he/she is at least 18 (eighteen) years of age or
    has the consent of a parent or legal guardian.
  </p>
  <p>
    3. Celec Enterprises will not be responsible for any damage suffered by
    users from use of the services on www.celec.com. This without limitation
    includes loss of revenue or data resulting from delays, non-deliveries,
    missed deliveries, or service interruptions as may occur because of any act
    / omission of the vendor. This disclaimer of liability also applies to any
    damages or injury caused by any failure of performance, negligence, defect,
    deletion, error, omission, interruption, delay in operation or transmission,
    computer virus, communication line failure, theft or destruction or
    unauthorized access to, alteration of, or use of record, whether for breach
    of contract, tortuous behavior, or under any other cause of action.
  </p>
  <p>
    4. Celec Enterprises will take “Full Responsibility” of your Order, if the
    Order has been shipped to any of the major cities, where we used “Private
    Courier Companies” (eg. Blue Dart, First Flight,Pafex, DHL etc.) to ship
    your order.
  </p>
  <p>
    5. The prices and availability of products are subject to change without
    prior notice at the sole discretion of<br />
    6. Request for cancellations of orders once placed on
    www.celec.com&nbsp;shall not be entertained.
  </p>
  <p>
    7. Celec Enterprises reserves the right to refuse or cancel any order placed
    for a product that is listed at an incorrect price or for any other reason.
    This shall be regardless of whether the order has been confirmed and/or
    payment been received. The payment shall be refunded and the User shall be
    informed of the same.
  </p>
  <p>
    8. If a non-delivery or late delivery occurs due to a mistake by the User
    (i.e. wrong or incomplete name or address or recipient not available) any
    extra cost spent by Celec Enterprises for re-delivery shall be claimed from
    the User placing the order.
  </p>
  <p>
    9. The User agrees to give accurate, authentic and true
    information.&nbsp;Celec Enterprises&nbsp;reserves the right to confirm and
    validate the information and other details provided by the User at any point
    of time. If any such User details are found not to be true wholly or
    partly,&nbsp;Celec Enterprises&nbsp;has the right in its sole discretion to
    reject the registration and debar the User from using the services of
    www.celec.com&nbsp;without prior intimation whatsoever.
  </p>
  <p>
    10.&nbsp;Celec Enterprises&nbsp;will not be liable for any type or kind of
    credit card fraud. The liability to use a card fraudulently will be on the
    user and the onus to ‘prove otherwise’ shall be exclusively on the user. The
    User must exclusively use his/her own card on the site.
  </p>
  <p>
    11. Celec Enterprises shall not entertain any complaints after 15 days, once
    the order is delivered.
  </p>
  <p>
    12. This agreement shall bcelec.come construed in accordance with the
    applicable laws of India. The Courts at Ludhiana shall have exclusive
    jurisdiction in any proceedings arising out of this agreement.
  </p>
  <ol start="13">
    <li>Payment terms 100% advance</li>
    <li>All Prices Ex-works Ludhiana</li>
    <li>GST extra for Domestic Shipments</li>
    <li>Warranty12 months</li>
    <li>Any disputes subject to Ludhiana Jurisdiction only</li>
  </ol>
</div>
 {% endblock content %}